<div *ngIf="entries.length > 0" class="entry-list-options">
  <div class="three-way-selector">
    <h3>Sort by</h3>
    <app-sort-order-setting [sortBy]="sortBy" (sortOrderChanged)="changeSort($event)"></app-sort-order-setting>
</div>
</div>

<div class="entry-list"
     *ngIf="entries.length > 0"
     [class.entry-list-large]="displaySize == 'large'"
     [class.entry-list-small]="displaySize == 'small'">
  <div *ngFor="let entry of entries" class="entry-list-item">
    <div *ngIf="useStarRating" class="star" [class.star-on]="entry.star" (click)="toggleStar(entry)">
      <i-star></i-star>
    </div>
    <a [routerLink]="['/detail', utilities.encodeUrl(entry.text)]">
      <div class="entry-list-item-text">
        <span class="primary-text">
          {{entry.text}}
        </span>
        <span class="secondary-text">
          {{entry.definition}}
        </span>
      </div>
    </a>
  </div>
</div>

<div class="no-entries-welcome" *ngIf="entries.length == 0" >
  <h2>Welcome!</h2>
  <p>
    Get started by <a routerLink="/add-entry">adding some words</a> or by
    importing <a (click)="addSampleData()">sample words</a> (You can always
    remove them later).
  </p>
  <p>
    You can also read <a routerLink="/about">about this app</a>.
  </p>
</div>