<div class="preferences">
  <div class="three-way-selector entry-list-item">
    <p>Sort word list by</p>
    <app-sort-order-setting [sortBy]="preferences.sortWordListBy" (sortOrderChanged)="changeSort($event)"></app-sort-order-setting>
  </div>

  <div class="three-way-selector entry-list-item">
    <p>Word list display size</p>
    <ul>
      <li role="button" [class.active]="preferences.exploreDisplaySize === 'small'" id="small" (click)="changeDisplaySize('small')">Small</li
      ><li role="button" [class.active]="preferences.exploreDisplaySize === 'medium'" id="medium" (click)="changeDisplaySize('medium')">Medium</li
      ><li role="button" [class.active]="preferences.exploreDisplaySize === 'large'" id="large" (click)="changeDisplaySize('large')">Large</li>
    </ul>
  </div>

  <div class="entry-list-item" (click)="changeStarSetting()" >
      <div *ngIf="preferences.useStarRating" class="settings-check" > <i-check-circle></i-check-circle> </div>
      <div *ngIf="!preferences.useStarRating"  class="settings-check" > <i-circle></i-circle> </div>
      Use star ratings
      <p class="preferences-note">
        Use stars to flag favorite words. Disabling this will preserve starred words.
      </p>
  </div>

  <div class="entry-list-item" (click)="toggleSampleData()" >
      <div
        *ngIf="preferences.sampleDataLoaded"
        class="settings-check" >
        <i-check-circle></i-check-circle>
      </div>
      <div
        *ngIf="!preferences.sampleDataLoaded"
        class="settings-check" >
        <i-circle></i-circle>
      </div>
      Use sample data
      <p class="preferences-note">
        Add or remove the sample words anytime. Entries you've modified will not be removed.
      </p>

  </div>

  <div class="entry-list-item">
    <a routerLink="/about">About this app</a>
  </div>

</div>