<div class="entry-detail-main">
    <h2 *ngIf="!useStarRating" class="entry-detail-title">
      {{entry.text}}
    </h2>
    <h2 *ngIf="useStarRating"
        class="entry-detail-title clickable"
        (click)="toggleStar()">

      {{entry.text}}

      <span [class.star-on]="entry.star">
        <i-star></i-star>
      </span>

    </h2>
    <p class="entry-detail-definition">{{entry.definition}}</p>
    <p *ngIf="useSource" class="entry-detail-source">Source: {{entry.source}}</p>
    <div class="tag-container">
      <div *ngFor="let tag of entry.tags" >
        <a [routerLink]="['/tag', utilities.encodeUrl(tag) ]" class="tag-display">
            <i-circle></i-circle> {{ tag }}
          </a>
      </div>
    </div>

    <button (click)="editEntry()"> <i-edit></i-edit> Edit</button>
  </div>