<div class="entry-list">
  <div *ngFor="let tag of tagList" class="entry-list-item">
    <div class="tag" [class.tag-on]="tag.selected" (click)="toggleTag(tag)">
      <i-tag></i-tag>
    </div>
    <a [routerLink]="['/tag', utilities.encodeUrl(tag.tag) ]">
      <div class="entry-list-item-text">
        <span class="primary-text">{{tag.tag}}</span>
        <span class="secondary-text">({{tag.count}})</span>
      </div>
    </a>
  </div>
</div>

<a *ngIf="this.selectedTags.length > 1 && wordCount > 0"
   [routerLink]="['/tag', utilities.encodeUrl(this.selectedTags.join('.'))]"
   class="bottom-popup" >
  See {{wordCount}} entries with {{this.selectedTags.length}} tags.
</a>

<div *ngIf="this.selectedTags.length == 2 && wordCount == 0" class="bottom-popup">
  No words match both tags.
</div>

<div *ngIf="this.selectedTags.length > 2 && wordCount == 0" class="bottom-popup">
  No words match all {{this.selectedTags.length}} tags.
</div>