<header>
  <a
    (click)="goBack()"
    class="header-button header-back-button"
    *ngIf="showBack"
  > <i-chevron-left></i-chevron-left> </a>
  <a
    routerLink="/settings"
    class="header-button header-settings-button"
    *ngIf="showSettings"
  > <i-settings></i-settings> </a>
  <h1>{{ title | titlecase }}</h1>
</header>
<div class="main">
  <router-outlet></router-outlet>
</div>
<nav><div><a class="nav-button" routerLink="/add-entry"> <i-zoom-in></i-zoom-in></a></div><div><a class="nav-button" routerLink="/explore"><i-compass></i-compass></a></div><div><a class="nav-button" routerLink="/tags"><i-tag></i-tag></a></div><div style="display:none"><a class="nav-button" routerLink="/settings"><i-settings></i-settings></a></div></nav>

<!-- <nav>
  <div>
    <a class="nav-button" routerLink="/add-entry"> <i-zoom-in></i-zoom-in></a>
  </div>
  <div>
    <a class="nav-button" routerLink="/explore"><i-compass></i-compass></a>
  </div>
  <div>
    <a class="nav-button" routerLink="/tags"><i-tag></i-tag></a>
  </div>
  <div>
    <a class="nav-button" routerLink="/settings"><i-settings></i-settings></a>
  </div>
</nav> -->