<div class="edit-entry-main">
    <form (ngSubmit)="onSubmit()">
      <h2 *ngIf="!useStarRating">{{entry.text}}</h2>
      <h2 *ngIf="useStarRating" (click)="toggleStar()" class="clickable">
        {{entry.text}}

        <span [class.star-on]="entry.star">
          <i-star></i-star>
        </span>

      </h2>
      <!-- <input
        type="text"
        [(ngModel)]="entry.text"
        name="entryText"
        class="main-entry"
      > -->
      <!-- <div class="definition-star" [class.nostars]="!useStarRating"> -->
        <textarea
        [(ngModel)]="entry.definition"
        name="definition"
        class="edit-entry edit-entry-definition"
        placeholder="definition"
        autocomplete="off"
        ></textarea>
      <!-- </div> -->
      <div class="tag-container">
        <div *ngFor="let tag of entry.tags" class="tag-display">
            <i-circle></i-circle> {{ tag }} <a class="remove-tag-icon" (click)="removeTag(tag)"><i-x></i-x></a>
        </div>
      </div>
      <input
        type="text"
        [(ngModel)]="newTags"
        name="newTags"
        class="edit-entry"
        placeholder="add tags..."
        autocomplete="off"
      >
      <br>
      <hr>
      <button
      type="button"
      class="submit-button"
      (click)="cancel()"
      > <i-arrow-left></i-arrow-left> Cancel</button>
      <button type="submit" class="submit-button"> <i-save></i-save> Save</button>
      <br>
      <button
        *ngIf="editingExisting"
        type="button"
        class="submit-button"
        (click)="delete()"
      > <i-x-circle></i-x-circle> Delete</button>

    </form>
    <hr>
    <div *ngIf="dictionaryDefinition && dictionaryDefinition != '404 error'" class="dictionary-definition">
      <button (click)="useDefinition()" > <i-chevrons-up></i-chevrons-up> Use</button>
      {{ dictionaryDefinition }}
    </div>
    <div *ngIf="dictionaryDefinition == '404 error'" class="dictionary-definition">
      <span class="inline-icon"><i-alert-circle></i-alert-circle></span>
      No definition found.
    </div>
  </div>