@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');

$primary-color: #444444;
$primary-color-active: #333333;
$background-color: #eeeeee;
$background-color-offset: #dddddd;

$dark-text: #222222;
$dark-text-lighter: #666666;
$dark-text-secondary: #cccccc;
$light-text: #eeeeee;

* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

div, p, h1, h2, button, input {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: $dark-text;
}

body {
  // font-size: 1.05em;
  // background-color: $primary-color;
  background-color: $background-color;
}

/*
 *  Global classes
 */

.container {
  max-width: 800px;
}

.clickable {
  cursor: pointer;
}

/*
 *  Header
 */

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 67px;
  top: 0;
  background-color: $primary-color;
  color: $background-color;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 21px;
  width: calc(100% - 60px);
  margin-left: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-button {
  position: absolute;
  top: 0;
  height: 100%;
  width: 60px;
  color: $light-text;
  cursor: pointer;

  svg {
    position: relative;
  }
}

.header-back-button {
  left: 0;

  svg {
    top: 14px;
    left: -2px;
    height: 40px;
    width:  40px;
    stroke-width: 1.3px;
  }
}

.header-settings-button {
  right: 0;

  svg {
    top: 22px;
    right: 6px;
    stroke-width: 1.8px;
  }
}

/*
 *  Body styles
 */

.main {
  // background-color: #eee;
  margin-top: 67px;

  h2 {
    font-size: 36px;
    // margin-top: 5px;
    margin-bottom: 10px;
  }
}

/*
 *  Add entry
 */

.add-entry-main {
  padding: 15px;
  text-align: center;
}

/*
 *  Edit entry
 */

.edit-entry-main {
  // background-color: #eee;
  padding: 15px;
  text-align: center;

  h2 {
    overflow-wrap: break-word;
  }

  .star-on svg {
    fill: $dark-text;
  }
}

.main-entry, .edit-entry {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #444444;
  background-color: #eeeeee;
  max-width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.main-entry {
  font-size: 24px;
}

.edit-entry {
  font-size: 18px;
}

.main-entry::placeholder, .edit-entry::placeholder {
  color: $dark-text-secondary;
}

.main-entry:focus, .edit-entry {
  outline: none;
}

.edit-entry {
  border: none;
  background-color: #e6e6e6;
  border-radius: 3px;
  padding: 5px 0;
}

.edit-entry-definition {
  // margin-top: -20px;
}

/*
 *  Entry detail
 */

.entry-detail-main {
  padding: 15px;

  .star-on svg {
    fill: $dark-text;
  }
}

.entry-detail-definition {
  margin-bottom: 10px;
}

.entry-detail-source {
  font-style: italic;
  margin-bottom: 10px;
}

.dictionary-definition {
  margin-top: 10px;
  margin-bottom: 45px;
}

.inline-icon svg {
    position: relative;
    top: 2px;
    height: 18px;
    width: 18px;
}

/*
 *  About screen
 */

.about {
  padding: 15px;
}

/*
 *  Buttons
 */

button, .submit-button {
  background-color: #ccc;
  border-radius: 5px;
  border: 0;
  padding: 5px 10px;
  margin-bottom: 8px;
  margin-top: 8px;
}

button svg {
  position: relative;
  top: 1px;
  height: 18px;
  width: 18px;
}

button:hover, .submit-button:hover {
  background-color: #bbb;
  cursor: pointer;
}

/*
 *  Bottom popup above navbar
 */

.bottom-popup {
   display:block;
   position: fixed;
   bottom: 44px;
   height: 36px;
   width: 100%;
   background-color: white;
   border-top: 1px solid $primary-color;
   padding: 6px 10px;
   font-size: 18px;
   text-align: center;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;

   svg {
     position: relative;
     top: 2px;
     height: 18px;
     width: 18px;
     margin-right: 4px;
    }

 }

.entry-list-with-popup {
  margin-bottom: 79px !important;
}

/*
 *  Bottom Navbar
 */

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 44px;
  background-color: $primary-color;
  color: #eeeeee;
  text-align: center;
}

nav > div {
  display: inline-block;
  margin: 0;
  height: 100%;
  width: 33.33%; /* for three items */
}

nav a  {
  display: block;
  margin: 0;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  color: #eeeeee;
  text-decoration: none;
}

nav a:hover {
  background-color: $primary-color-active;
}

nav i-settings svg {
  height: 22px;
}

/*
 *  Preferences (on content screens) and Settings (on settings screen)
 */

.entry-list-options {
  height: 70px;
  background-color: $background-color-offset;
  border-bottom: 1px solid silver;
}

.three-way-selector, .four-way-selector {
  padding-top: 8px;
  text-align: center;

  width: 302px;
  height: 23px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid $primary-color;
  border-radius: 5px;
  padding: 0;

  li {
    float: left;
    list-style: none;
    padding-top: 3px;
    width: 100px;
    height: 23px;
    font-size: 12px;
    border-right: 1px solid $primary-color;
    height: 100%;
  }
  li:last-child {
    border-right: none;
  }
  li:hover, .active {
    background-color: $primary-color;
    color: $light-text;
    cursor: pointer;
  }
}

.four-way-selector {
  li {
    width: 75px;
  }
}

.small-heading {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  // margin-bottom: 6px;
  padding-top: 8px;
}

.settings {
  margin-bottom: 44px;
}

.settings-note {
  margin-top: 10px;
  font-size: 13px;
}

/*
 *  Entry list
 */

.entry-list {
  min-height: calc(100vh - 67px);
  margin-bottom: 44px;
}

.entry-list-item {
  border-bottom: 1px solid #888;
  padding: 6px 10px;
  cursor: pointer;

  .star {
    float:right;
    // margin-right: 7px;

    svg {
      position: relative;
      top: 3px;
      height: 20px;
      width: 20px;
      stroke-width: 0;
      fill: $dark-text-secondary;
    }
  }
  .star-on svg {
    fill: $dark-text-lighter;
  }

  .tag {
    float: left;
    margin-right: 7px;

    svg {
      position: relative;
      top: 3px;
      height: 18px;
      width: 18px;
      stroke-width: 1.7px;
    }

  }

  .tag-on {
    margin-right: 5px !important;
    margin-left: -2px;

    svg {
      fill: $dark-text;
      stroke: $background-color-offset;
      top: 3px;
      height: 22px;
      width: 22px;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $primary-color;
  }

  .entry-list-item-text {
    // width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $dark-text-secondary;

    .primary-text {
      font-weight: 700;
      color: $dark-text;
    }

    .secondary-text {
      font-weight: 300;
      color: $dark-text-secondary;
    }
  }
}

.entry-list-item-selected {
  background-color: $background-color-offset;
}

.entry-list-large {
  .entry-list-item-text {
    font-size: 23px;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
  }
  .secondary-text {
    color: $dark-text-lighter !important;
    font-size: 16px;
    display: block;
  }
}

.entry-list-small {
  .entry-list-item {
    padding: 1px 10px 4px;
  }
  .primary-text, .secondary-text {
    font-size: 17px;
  }
}

/*
 *  Text screen for welcome on Explore and About page
 */

.text-screen {
  padding: 8vw 15vw 0;
  font-size: 26px;

  a {
    text-decoration: underline;
    // font-weight: 700;
  }

  p {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 32px;
  }
}

/*
 *  Settings Component
 */

.settings-item {
  border-bottom: 1px solid #888;
  padding: 10px 10px 10px;
}

.settings-check {
  float:left;
  margin-right: 7px;

  svg {
    position: relative;
    top: 3px;
    height: 20px;
    width: 20px;
  }
}

/*
 *  TAGS
 */

.tag-container {
  margin-bottom: 10px;
}

.tag-container > * {
  display: inline-block;
}

.tag-display {
  display: inline-block;
  background-color: #ccc;
  border-radius: 5px;
  margin-right: 6px;
  border: 0;
  padding: 4px 10px;
  font-size: 14px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  svg {
    position:relative;
    top: -1px;
    height: 8px;
    width:  8px;
    stroke-width: 4px;
    stroke: rgb(79, 79, 79);
    margin-right: 5px;
  }
}

a.tag-display:hover {
  background-color: #bbb;
}

.remove-tag-icon {
  margin-right: -8px;
}

.remove-tag-icon svg {
  position: relative;
  top: 2px;
  height: 15px;
  width: 15px;
}

.remove-tag-icon svg:hover {
  stroke: rgb(183, 0, 0);
}